@import url("https://fonts.googleapis.com/css?family=PT Sans");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", "sans-serif";
  background-color: #1f314a;
}
