.movie-detail {
  position: relative;
  width: 100%;

  .bg-movie {
    img {
      width: 100%;
      filter: blur(20px);
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(9, 29, 49, 0.8) 30%, rgba(9, 29, 49, 0.5));
      // background: rgba(9, 29, 49, 0.5);
      z-index: 1;
    }
  }

  .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    .movie-content {
      display: flex;
      margin: 20% 20%;
      justify-content: space-between;
      align-items: center;

      .movie-img {
        position: relative;
        transition: transform 0.3s;
        cursor: pointer;

        img {
          display: block;
          height: 350px;
        }

        &:hover {
          transform: scale(1.5);

          .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../../img/play-video.png');
            height: 80px;
            width: 80px;

          }
        }
      }

      .movie-des {
        width: 60%;
        color: #fff;
        letter-spacing: 1.5px;
        font-size: 1rem;

        h3 {
          color: #e1d76c;
          font-weight: 600;
          font-size: 2rem;
          letter-spacing: 3px;
        }
      }
    }

    .showing-content {
      margin: 0 20%;
      min-height: 500px;
      // background: #ebf5fc;
    }
  }
}